layout: vbot/index
description: 基于 php 7 的 web 微信机器人
subtitle: Vbot
title: Vbot
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-wechat
      h3.intro-feature-title 支持 API
      p.intro-feature-desc 通过 API，更方便的打造属于自己的网页版微信
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-comment
      h3.intro-feature-title 多种消息类型
      p.intro-feature-desc 让你的程序更加灵活处理
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 丰富的监听器
      p.intro-feature-desc 能够在程序各个阶段做好各自的自定义处理
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 稳定执行
      p.intro-feature-desc 稳定，是 vbot 的核心基础